<mat-card class="mat-elevation-z4" fxLayout="column">
	<mat-form-field>
		<input matInput [(ngModel)]="question.text" placeholder="Treść Pytania">
	</mat-form-field>

	<div class="answer-options" fxLayout="row">
		<button class="answer-option-add-answer" mat-stroked-button type="button" color="primary"
				(click)="onAddAnswerButtonClicked( selectedType.value )">
			Dodaj odpowiedź
		</button>
		<mat-select class="answer-option-select-type" #selectedType placeholder="Wybierz typ">
			<mat-option *ngFor="let answerType of answerTypes" [value]="answerType">
				{{ answerType }}
			</mat-option>
		</mat-select>
	</div>

	<mat-list *ngFor="let answer of question.answers">
		<app-survey-creator-answer class="answer-container" [answerType]="selectedType.value"></app-survey-creator-answer>
	</mat-list>
	
</mat-card>
