<mat-card id="survey-list-container">
	<h1>Ankiety</h1>
	<!-- <input type="text" placeholder="WYSZUKAJ..."> -->
	<mat-form-field id="search-field" appearance="outline">
		<input matInput [(ngModel)]="searchText" type="text" placeholder="WYSZUKAJ..." name="name">
	</mat-form-field>
	
	<div id="filters-row" fxLayout="row" fxLayoutAlign="center start">
		<div fxFlex="25%">
			<mat-button-toggle mat-raised-button>Ostatnie</mat-button-toggle>
		</div>
		<div fxFlex="25%">
			<mat-button-toggle mat-raised-button>Popularne</mat-button-toggle>
		</div>
		<div fxFlex="25%">
			<mat-form-field>
				<mat-select placeholder="Kategoria">
					<mat-option *ngFor="let category of categories" [value]="category.value">
						{{ category.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div fxFlex="25%">
			<mat-form-field>
				<mat-select placeholder="Sortuj">
					<mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
						{{ sortOption.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	
	<ul *ngIf="surveys">
		<li *ngFor="let survey of (surveys | search: searchText)">
			<app-survey-list-item [survey]="survey"></app-survey-list-item>
		</li>
	</ul>
</mat-card>
