<mat-card id="survey-container" fxLayout="column">

  <mat-card-title>Kreator Ankiety</mat-card-title>

  <button id="save-survey-button" mat-raised-button type="button" color="primary"
          (click)="onSaveSurveyButtonClicked()">
  Zapisz Ankietę
  </button>
  <app-survey-question class="survey-question" *ngFor="let hero of questions"></app-survey-question>

  <div fxLayout="row">
    <button id="add-question-button" mat-raised-button type="button" color="primary" (click)="onAddQuestionButtonClick()">Dodaj pytanie</button>
    <button id="delete-question-button" mat-raised-button type="button" color="warn" (click)="onDeleteQuestionButtonClick()">Usuń pytanie</button>
  </div>

</mat-card>

<!-- 
<button (click)="addNewCompany()">Add new Company</button><br><br>
<form [formGroup]="myForm">
  <div formArrayName="companies">
    <div *ngFor="let comp of myForm.get('companies').controls; let i=index">
    <fieldset>
      <legend><h3>COMPANY {{i+1}}: </h3></legend>
      <div [formGroupName]="i">
        <label>Company Name: </label>
        <input formControlName="company" /><span><button (click)="deleteCompany(i)">Delete Company</button></span>
        <div formArrayName="projects">
          <div *ngFor="let project of comp.get('projects').controls; let j=index">
            <fieldset>
            <legend><h4>PROJECT {{j+1}}</h4></legend>
            <div [formGroupName]="j">
              <label>Project Name:</label>
              <input formControlName="projectName" /><span><button (click)="deleteProject(comp.controls.projects, j)">Delete Project</button></span>
            </div>
            </fieldset>
          </div>
          <button (click)="addNewProject(comp.controls.projects)">Add new Project</button>
        </div>
      </div>
    </fieldset>
    </div>
  </div><br>
  
</form>

<pre>{{myForm.value | json}}</pre>
 -->