#survey-container
{
	width: 80%;
	margin: auto;
	border: 1px solid gray;
}

.survey-question
{
	margin-bottom: 20px;
}

.survey-question:last-of-type
{
	margin-bottom: 0px;
}

#save-survey-button
{
	width: 20%;
}

#add-question-button
{
	width: 50%;
}

#delete-question-button
{
	width: 50%;
}
