#survey-container
{
	width: 800px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	border: 1px solid gray;
}

.question-container
{
	margin-bottom: 20px;
}

.question-container:nth-last-of-type(2)
{
	margin-bottom: 0px;
}

.condQuestion-container
{
	margin-top: 20px;
}

.condQuestion-list-container
{
	outline: rgb(103, 58, 183) dashed 1px;
}

.survey-conditional-question-container
{
	margin-top: 10px;
	//margin-bottom: 10px;
	.mat-card
	{
		background-color: linen;
	}
}

#publish-survey-button
{
	width: 20%;
}

#save-survey-button
{
	width: 100%;
}

#delete-survey-button
{
	width: 50%;
}

.mat-card:not(.survey-question-options)
{
	cursor: default !important;
	&:active
	{
		cursor: default !important;
	}
}

.mat-card:hover
{
	cursor: pointer;
}
