<mat-card id="survey-container">
	<h2>Nazwa ankiety</h2>
	<div cdkDrag *ngFor="let question of questions; let idx=index" class="question-container" 
	[ngClass]="{'condQuestion-list-container' : (question.type === this.QuestionTYPES.Condition)}">
		<app-creator-question-container
			[editableSurvey]="false" 
			[question]="question"
			[isConditional]="false"
			[idx]="idx"
			(questionTypeChange)="onQuestionTypeChange($event)"
			(addQuestionBelowButtonClick)="onAddQuestionBelowButtonClick($event)"
			(addQuestionAboveButtonClick)="onAddQuestionAboveButtonClick($event)"
			(deleteQuestionButtonClick)="onDeleteQuestionButtonClick($event)">
			<mat-icon slot="drag-handle" cdkDragHandle matTooltip="przemieść pytanie" [matTooltipShowDelay]="1000">
				drag_handle
			</mat-icon>
		</app-creator-question-container>

		<div cdkDropList (cdkDropListDropped)="dropConditionalQuestion($event, question)" id="condQestion-and-sub-questions">
			<div cdkDrag
				*ngFor="let condQuestion of question.conditionalQuestions[question.selectedAnswerIndex]; 
				let condIdx=index"
				class="condQuestion-container">
				<app-creator-question-container
					[question]="condQuestion"
					[isConditional]="true"
					[idx]="condIdx"
					(questionTypeChange)="onConditionalQuestionTypeChange($event, idx)"
					(addQuestionBelowButtonClick)="onAddCondQuestionBelowButtonClick(idx, $event)"
					(addQuestionAboveButtonClick)="onAddCondQuestionAboveButtonClick(idx, $event)"
					(deleteQuestionButtonClick)="onDeleteCondoQuestionButtonClick(idx, $event)">
					<mat-icon slot="drag-handle" cdkDragHandle matTooltip="przemieść pytanie" [matTooltipShowDelay]="1000">
						drag_handle
					</mat-icon>
				</app-creator-question-container>
			</div>
		</div>
	</div>

	<div fxLayout="row">
		<button id="save-survey-button" mat-raised-button type="button" color="primary">
		Wyślij odpowiedź
		</button>
	</div>
</mat-card>
