<mat-toolbar id="toolbar" class="mat-elevation-z6"  color="primary">
  
  <a href="" mat-button>
    <mat-icon id="nav-site-icon">insert_chart_outlined</mat-icon>
    <span>ANKIETY</span>
  </a>

  <a href="/creator" mat-button>
    <mat-icon>view_quilt</mat-icon>
    Kreator
  </a>

  <span class="fill-remaining-space"></span>

  <a href="/login" mat-button>
    Logowanie
  </a>

  <a href="/register" mat-button>
    Rejestracja
  </a>

</mat-toolbar>

<!-- <a href="" mat-button>
  <mat-icon>fastfood</mat-icon>
  SOPS
</a> -->
<!-- <header>
  <div class="container">
    <a [routerLink]="['/']">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a [routerLink]="['/surveys']">Strona główna</a></li>
        <li><a [routerLink]="['/login']">Zaloguj się</a></li>
        <li><a [routerLink]="['/register']">Zarejestruj się</a></li>
      </ul> 
    </nav>
  </div>
</header> -->