<mat-toolbar id="toolbar" class="mat-elevation-z6"  color="primary">
  
  <a routerLink="" mat-button>
    <mat-icon id="nav-site-icon">insert_chart_outlined</mat-icon>
    <span>ANKIETY.PL</span>
  </a>

  <a routerLink="/creator" mat-button>
    <mat-icon>view_quilt</mat-icon>
    Kreator
  </a>

  <a routerLink="/surveys" mat-button>
    <mat-icon>list</mat-icon>
    Baza ankiet
  </a>

  <span class="fill-remaining-space"></span>

  <a routerLink="/" mat-button id="nav-about-option" (click)="onAboutAnchorClick()"
    *ngIf="this.router.url === '/'"
  >
    O stronie
  </a>

  <a routerLink="/user-panel" mat-button id="nav-about-option">
    Dashboard
  </a>

  <a routerLink="/profile" mat-button id="nav-about-option">
    Profil
  </a>

  <a routerLink="/login" mat-button>
    Logowanie
  </a>

  <a routerLink="/register" mat-button>
    Rejestracja
  </a>

</mat-toolbar>

<!-- <a href="" mat-button>
  <mat-icon>fastfood</mat-icon>
  SOPS
</a> -->
<!-- <header>
  <div class="container">
    <a [routerLink]="['/']">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a [routerLink]="['/surveys']">Strona główna</a></li>
        <li><a [routerLink]="['/login']">Zaloguj się</a></li>
        <li><a [routerLink]="['/register']">Zarejestruj się</a></li>
      </ul> 
    </nav>
  </div>
</header> -->