<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<div id="segment-container" fxLayoutAlign="center center">
	<div fxLayout="column" id="container">
		<mat-card fxFlex="90%" class="matcard">
			<p id="first">
				Kreator ankiet jest nie tylko <b> darmową </b> usługą, ale nawet nie wymaga podania wrażliwych informacji osobistych przy rejestracji konta.
			</p>
			<p id="second">
				Kreator umożliwia wybór z kilku rodzajów pytań, nawet tych rozgałęzionych. Ankiety możesz udostępniac i publikować gdzie tylko chcesz. 
			</p>
			<p id="third">
				Wróć w dowolnej chwili do edytowania projektu lub podglądu zakończonych ankiet. Usuń swoje konto kiedy tylko zechcesz!
			</p>
			<p id="fourth"> 100% możliwości za darmo!</p>
		</mat-card>
		<div fxFlex="50%" fxLayout="row">
			<button fxFlex="50%" [routerLink]="['/creator']" >Stwórz ankietę</button>
			<button fxFlex="50%" [routerLink]="['/register']">Zarejestruj się</button>
		</div>
		<mat-icon id="nav-arrow-down" fxFlex="10%" (click)="onNavArrowDownClick()">
			arrow_downward
		</mat-icon>
	</div>
</div>
