<mat-card id="survey-container" fxLayout="column" #questionRef dnd-sortable-container [sortableData]="questions">

	<mat-card-title>Kreator Ankiety</mat-card-title>

	<button id="publish-survey-button" mat-raised-button type="button" color="primary"
			(click)="onPublishSurveyButtonClick()">
	Opublikuj Ankietę
	</button>

	<mat-card id="no-questions-added-placeholder" class="mat-elevation-z4"
			  *ngIf="questions.length === 0">
		<button id="no-questions-added-placeholder-add-first-question" mat-stroked-button type="button"
				color="primary" (click)="onAddFirstQuestionButtonClick()">
			Dodaj pierwsze pytanie
		</button>
	</mat-card>

	<section class="survey-question-container" *ngFor="let question of questions; let idx=index"
			 style="position: relative;" [attr.data-question-index]="idx" dnd-sortable [sortableIndex]="idx" >

		<app-creator-survey-question [question]="questions[idx]">
		</app-creator-survey-question>

		<div class="survey-question-type" (click)="logSth()">
			<select [(ngModel)]="question.type" disableUnderline>
				<option value="1ofn">1 z N</option>
				<option value="text">tekst</option>
			</select>
		</div>

		<mat-card class="survey-question-options">
			<mat-icon dnd-sortable-handle>
				drag_handle
			</mat-icon>
			<mat-icon (click)="onAddQuestionBelowButtonClick()">
				arrow_drop_down
			</mat-icon>
			<mat-icon (click)="onAddQuestionAboveButtonClick( idx )">
				arrow_drop_up
			</mat-icon>
			<mat-icon color="warn" 
					  (click)="onDeleteQuestionButtonClick( idx )">
				clear
			</mat-icon>
		</mat-card>
		<!-- questionRef.dataset.questionIndex -->
	</section>

	<div fxLayout="row">
		<button id="save-survey-button" mat-raised-button type="button" color="primary"
				(click)="onSaveSurveyButtonClicked()">
		Zapisz Zmiany
		</button>
		<button id="delete-survey-button" mat-raised-button type="button" color="warn" 
				(click)="onDeleteSurveyButtonClick()">
		Usuń Ankietę
		</button>
	</div>

</mat-card>

<!-- 
<button (click)="addNewCompany()">Add new Company</button><br><br>
<form [formGroup]="myForm">
  <div formArrayName="companies">
    <div *ngFor="let comp of myForm.get('companies').controls; let i=index">
    <fieldset>
      <legend><h3>COMPANY {{i+1}}: </h3></legend>
      <div [formGroupName]="i">
        <label>Company Name: </label>
        <input formControlName="company" /><span><button (click)="deleteCompany(i)">Delete Company</button></span>
        <div formArrayName="projects">
          <div *ngFor="let project of comp.get('projects').controls; let j=index">
            <fieldset>
            <legend><h4>PROJECT {{j+1}}</h4></legend>
            <div [formGroupName]="j">
              <label>Project Name:</label>
              <input formControlName="projectName" /><span><button (click)="deleteProject(comp.controls.projects, j)">Delete Project</button></span>
            </div>
            </fieldset>
          </div>
          <button (click)="addNewProject(comp.controls.projects)">Add new Project</button>
        </div>
      </div>
    </fieldset>
    </div>
  </div><br>
  
</form>

<pre>{{myForm.value | json}}</pre>
 -->