#survey-container
{
	width: 80%;
	margin: auto;
	border: 1px solid gray;
}

#no-questions-added-placeholder
{
	width: 100%;
	height: 400px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

#no-questions-added-placeholder-add-first-question
{
	height: 48x;

	font-size: 24px;
}

.survey-question-container
{
	margin-bottom: 20px;
}

.survey-question-container:hover
{
	.survey-question-type
	{
		display: block;
	}
}

.survey-question-container:last-of-type
{
	margin-bottom: 0px;
}

.survey-question-type
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 0px;
	select
	{
		background-color: transparent;
		border: none;
	}
}

.survey-question-options
{
	position: absolute;
	top: 0%;
	right: 0%;

	padding: 0px;
	padding-top: 5px;
}

.survey-question-options:hover
{
	cursor: pointer;
}

#publish-survey-button
{
	width: 20%;
}

#save-survey-button
{
	width: 50%;
}

#delete-survey-button
{
	width: 50%;
}

.mat-card:hover
{
	cursor: pointer;
}
