.panel
{
	max-width: 250px;
	min-width: 170px;
	height: calc(100vh - 64px - 32px);
	flex-grow: 1;
	position: sticky;
	top: 64px;
	align-self: flex-start;
	background-color: lightgray;
}

// left panel
#left-panel
{
}

// creator
#survey-container
{
	min-width: 800px;
	margin: 25px;
	margin-top: 20px;
	margin-bottom: 50px;
	border: 1px solid gray;
}

#no-questions-added-placeholder
{
	height: 400px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

#no-questions-added-placeholder-add-first-question
{
	height: 48x;

	font-size: 24px;
}

.question-container
{
	margin-bottom: 20px;
}

.question-container:nth-last-of-type(2)
{
	margin-bottom: 0px;
}

.condQuestion-container
{
	margin-top: 20px;
	//margin-bottom: 10px;
	// outline: 3px solid #673ab7;
	// outline-offset: -2px;
	// outline-style: double;
	/* .mat-card
	{
		background-color: linen;
	} */
}

.condQuestion-list-container
{
	outline: rgb(103, 58, 183) dashed 1px;
}

.survey-conditional-question-container
{
	margin-top: 10px;
	//margin-bottom: 10px;
	.mat-card
	{
		background-color: linen;
	}
}

#publish-survey-button
{
	width: 20%;
}

#save-survey-button
{
	width: 50%;
}

#delete-survey-button
{
	width: 50%;
}

.mat-card:not(.survey-question-options)
{
	cursor: default !important;
	&:active
	{
		cursor: default !important;
	}
}

.mat-card:hover
{
	cursor: pointer;
}

#survey-container.cdk-drop-list-dragging .question-container:not(.cdk-drag-placeholder)
{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#condQestion-and-sub-questions.cdk-drop-list-dragging .condQuestion-container:not(.cdk-drag-placeholder)
{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// right panel
#right-panel
{
}

#creating-survey-square-container
{
	height: calc(100% - 32px);
	overflow: auto;
}

#add-creating-survey-square-button
{
	width: 100%;
	bottom: 0;
}
