<div id="survey-list-item-container" fxLayout="row">
	<div fxFlex="16%">
		<img  [src]="survey.avatar">
	</div>
	<div fxFlex="54%">
		<h3>{{ survey.NameSurvey }}</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id tristique libero. Suspendisse ultrices lorem eu diam pharetra venenatis. Sed faucibus risus eget dignissim consequat.
		</p>
	</div>
	<div fxFlex="20%" id="answer-count">
		1532
	</div>
	<div fxFlex="20%">
		<mat-icon id="fill-survey-icon">keyboard_return</mat-icon>
	</div>
</div>
