<mat-list-item class="answer-container">

	<mat-form-field class="answer-content" *ngIf="answerTypeCopy === 'tekstowa'">
		<input matInput placeholder="treść odpowiedzi">
	</mat-form-field>

	<mat-checkbox *ngIf="answerTypeCopy === '1 z N'" class="answer-content" color="primary">
		<input matInput class="answer-content-checkbox-input" placeholder="treść odpowiedzi">
	</mat-checkbox>

	<div class="answer-suffix" fxLayout="row">
		<!-- <span class="answer-suffix-type"><mat-icon> create </mat-icon></span> -->
		<span class="answer-suffix-remove"><mat-icon color="warn"> clear </mat-icon></span>
	</div>

</mat-list-item>