<div id="pagepiling" class="pagepiling-container">
	<div class="section">
		<app-header-segment class="segment"></app-header-segment>
	</div>
	<div class="section">
		<app-circles-segment class="segment"></app-circles-segment>
	</div>
	<div class="section">
		<app-survey-preview-segment class="segment"></app-survey-preview-segment>
	</div>
	<div class="section">
		<app-statistics-question-types-segment class="segment"></app-statistics-question-types-segment>
	</div>
	<div class="section">
		<app-video-segment class="segment"></app-video-segment>
	</div>
</div>
<!-- <footer></footer> -->
