<mat-card class="question-container mat-elevation-z4" fxLayout="column">
	<mat-form-field>
		<input matInput [(ngModel)]="question.text" placeholder="Treść Pytania">
	</mat-form-field>

	<div *ngIf="question.type !== QuestionTYPES.Text">
		<div class="answer-options" fxLayout="row">
			<button class="answer-option-add-answer" mat-stroked-button type="button" color="primary"
				(click)="onAddAnswerButtonClicked(question.type)">
				Dodaj odpowiedź
			</button>
		</div>
	</div>
	
	<mat-radio-group [(ngModel)]="question.selectedAnswerIndex">
		<mat-list *ngFor="let answer of question.answers">
			<app-survey-creator-answer class="answer-container" 
				[answer]="answer" 
				(answerOrderedToDelete)="onAnswerOrederedToDelete($event)">
			</app-survey-creator-answer>
		</mat-list>
	</mat-radio-group>
</mat-card>
