<section class="survey-question-container"
  style="position: relative;" [attr.data-question-index]="idx" dnd-sortable [sortableIndex]="idx" >

  <app-creator-survey-question [question]="question"></app-creator-survey-question>

  <div class="survey-question-type">
    <select [(ngModel)]="question.type" (change)="onQuestionTypeChange(idx)" disableUnderline>
      <option> {{QuestionTYPES.Text}} </option>
      <option> {{QuestionTYPES.OneOfN}} </option>
      <option> {{QuestionTYPES.XOfN}} </option>
      <option> {{QuestionTYPES.Condition}} </option>
    </select>
  </div>

  <mat-card class="survey-question-options">
    <mat-icon dnd-sortable-handle matTooltip="przemieść pytanie" [matTooltipShowDelay]="1000">
      drag_handle
    </mat-icon>
    <mat-icon (click)="onAddQuestionBelowButtonClick( idx )" matTooltip="nowe pytanie poniżej" [matTooltipShowDelay]="500">
      arrow_drop_down
    </mat-icon>
    <mat-icon (click)="onAddQuestionAboveButtonClick( idx )" 
        matTooltip="nowe pytanie powyżej" [matTooltipShowDelay]="500">
      arrow_drop_up
    </mat-icon>
    <mat-icon color="warn" 
        (click)="onDeleteQuestionButtonClick( idx )" matTooltip="usuń pytanie" [matTooltipShowDelay]="500">
      clear
    </mat-icon>
  </mat-card>

  <span class="survey-question-number">{{ idx + 1 }}</span>
</section>
