/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./../node_modules/ng2-dnd/bundles/style.css";
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); */

body
{
    margin: 0;
    background-color: white;
    /* font-size: 18px; */
    /* font-family: 'Montserrat'; */
}

#content
{
    min-height: 100vh;
    
    background: #fafafa;
}

.mat-button-focus-overlay
{
    background: white;
}

.fill-remaining-space
{
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

button:focus
{
    outline: none;
}

.mat-pseudo-checkbox-checked
{
    background: #673ab7;
}
/* 
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%; 
    margin: 0 auto;
    padding: 2em;
} */