<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<div id="segment-container" fxLayoutAlign="center center">
        <mat-card id="statistics-options-container" fxLayoutAlign="center center">
                <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide"><img src="/assets/images/home/wykres.png"><p class="slide-info">Tworzenie wykresów</p></div>
                          <div class="swiper-slide">Slide 2</div>
                          <div class="swiper-slide">Slide 3</div>
                          <div class="swiper-slide">Slide 4</div>
                          <div class="swiper-slide">Slide 5</div>
                         
                        </div>
                        
                        <div class="swiper-pagination" id="swiper-pagination"></div>
                       
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
        </mat-card>
        <div class="vl"></div>
        <mat-card id="statistics-options-container" fxLayout="column" fxLayoutAlign="center center">
                <p class="head">Wiele rodzajów pytań</p>
              <table>
                  <tr>
                      <td id="cell1"> <img  matTooltip="Wybór opcji" src="/assets/images/home/pytanie11.png" /></td>
                      <td id="cell2"> <img matTooltip="Wybór wielu opcji" src="/assets/images/home/pytanie22.png" /></td>
                  </tr>
                  <tr>
                      <td id="cell3"> <img matTooltip="Odpowiedzi tekstowe" src="/assets/images/home/pytanie33.png" /></td>
                      <td id="cell4"> <img matTooltip="Pytania warunkowe" src="/assets/images/home/pytanie5.png" /></td>
                  </tr>
              </table>
                    
                      
                    
                    
              

            </mat-card>
</div>
