.answer-container
{
	position: relative;
}

.one-of-n-checkbox
{
	margin-left: 2px;
	margin-right: 7px;
}

.text-container
{
	width: 100%;
}

.text-field
{
	width: 100%;
}

.answer-suffix
{
	position: absolute;
	top: 30%;
	right: 2%;
}

.answer-suffix-remove
{
	margin-left: 5px;
}

::ng-deep .mat-list-item-content
{
  padding-left: 0px !important;
}

::ng-deep .mat-checkbox-inner-container
{
	margin-top: 12px !important;
}
