#survey-panel-item-container
{
    width: 150px;
	height: 200px;
    
    border-radius: 20px;

}

#answer-count{
margin: 0;
padding: 0;
font-size: 20px;
text-align: left;
}
#answerswrap{
    margin-top:45px;
}
#wrap{
    margin-bottom: 10px;

}
#desc{
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
    }

#edit_ico{
    margin-left: 130px;
    margin-bottom: 50px;
    width: 15px;

    height: 20px;
    padding-top:40px;
    padding-left:20px;
    background-size: cover;
    background-position: right;
}

#description
{
    
	font-size: 13px;
	text-align: justify;
	margin: 0;
}

h3
{
    text-align: center;
    margin-bottom: 20px;
    padding-right: 10px;
}

img
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}


