<div id="segment-container">
  <mat-card fxLayout="column" id="circles-options-container">
    <div fxFlex="70%" fxLayout="row">
      <button mat-fab fxFlex="25%" class="circle"></button>
      <button mat-fab fxFlex="25%" class="circle"></button>
      <button mat-fab fxFlex="25%" class="circle"></button>
      <button mat-fab fxFlex="25%" class="circle"></button>
    </div>
    <div fxFlex="30%" fxLayout="row" fxLayoutAlign="center start">
      <button mat-stroked-button>Opcja 1</button>
      <button mat-stroked-button>Opcja 2</button>
      <button mat-stroked-button>Opcja 3</button>
    </div>
  </mat-card>
</div>
